<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>New country</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" />
</head>
<body>
<div class="container">
	<h1>Add Country</h1>
	<div>
		<form th:object="${country}" th:action="@{savecountry}" action="#" method="post">
		  	<label for="title">Country name</label>
			<input type="text" id="countryname" th:field="*{countryname}" />
			<div class="alert alert-warning" th:if="${#fields.hasErrors('countryname')}" th:errors="*{countryname}">Name Error</div>
			<div style="clear: both; display: block; height: 10px;"></div>
			<input type="submit" class="btn btn-success" value="Save"></input>
		   <a class="btn btn-danger" href="/movielist">Cancel</a>
		</form>
	</div>
	</div>
</body>
</html>